#Ignora archivos mac
.DS_store

#Ignora node_modules
node_modules

#Ignora archivos de texto
#*.txt

#Ignora archivos relacionados a api keys
.env

#Ignora archivos de configuracion sass
.sass-cache

#Sepecific files
desafio_9_segunda_entrega/database/firebase_config/no-subir-coder-node-ecommerce-firebase.json