<html>
    <head>
        {{> header }}

    </head>
    <body class="container">
 
        <div class="container row">
           <h1>Hasta luego {{userLoggedIn}}</h1>
        </div>


        <script src="js/logout.js"></script>
    </body>
</html>